*{
    margin: 0;
    padding: 0;
    box-sizing: border- box;
   
}


.container{
    background-color: yellow;
    color: black;
    background : center / cover  no-repeat url(/static/bg11.jpg);
    
    /* opacity: 0.5; */
    height: auto;
    width: auto;
    
}
h3{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-right: 95px;
    /* color: rgb(186, 252, 7); */
    color: rgb(133, 133, 107);
    /* color: black; */
    border-bottom: 2px solid white;
}

 p{
    padding: 15px 30px;
    color: rgb(133, 133, 107);
    /* color: black */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


