*{
    margin: 0;
    padding: 0;
    box-sizing: border- box;
   
}

#logo img{
    display: flex;
   
    color: white;
    
    align-items: center;
    margin: 0 14px;
    height: 45px;
    filter: invert(1);
    /* padding-bottom: 8px; */
}

#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:black;
    height: 40px;
    padding: 10px 3px;
    
}

#navbar li{
    list-style: none;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 0 29px;
}

#navbar li a{
    text-decoration: none;
    padding: 5px;
    margin: 4px;
    color: white;
    padding-top: 2px;
}

#navbar li a:hover{
    color: red;
}

#introSection{
    height: 500px;
    color:white;
    font-size: large;
    font-weight: bold;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:yellow;
    background: center / cover no-repeat url(/static/bg.png);
    

}

.item{
    margin-top: 6px;
}

#introSection div.item{
  margin-left: 300px;
  font-size: x-large;
  
  
}

#introSection div.item:hover{
    color: red;
}


#missionSection{
    height: 250px;
    background-color:wheat; 
    text-align: center;
    height: 250px;
    margin: 4px 2px;
    background: center / cover  no-repeat url(/static/bg10.png);

}
#missionSection h2{
    padding: 10px;
}

.card{
    display: inline-block;
    border: 3px solid black;
    height: 180px;
    width: 350px;
    border-radius: 10px;
    margin: 0px 30px;
    background-color: black;
    color: wheat;
    opacity: 0.5;

}
.card-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    height: 100px;
    padding: 0 14px;

     
}
.card-img img{
    height: inherit;
    filter: invert(1);
}
.card-content p {
    height: inherit;
}

#sponsorSection{
    height: 250px;
    background-color: white;
    text-align: center;
    margin: 4px 2px;
    background: center / cover  no-repeat url(/static/bg9.jpg)
    /* background: center / cover  no-repeat url(/static/bg11.png) */
    

}

#sponsorSection h2{
    padding: 17px; 
}
#sponsor{
   height: 100px;
   max-width: 1000px;
   margin: auto;
}
.spImage{
    height: 70%;
    /* margin: 40px; */
    opacity: 0.7;
    margin-top: 30px;
}


#footer{
    height: 30px;
    background-color: rgb(171, 68, 245);
    color: black;
    text-align: center;
    font-weight: bold;
    background: center / cover  no-repeat url(/static/bg.png);
   
}