doctype html
html
    head
        title Ritik's website
        block scripts
        block style
    body
        nav#navbar
            ul
                div#logo
                    img(src="/static/bg3.png")

                li.item #[a(href= "/") Home]
                li.item #[a(href= "/Services") Services]
                li.item #[a(href= "/About") About]
                li.item #[a(href= "/Info") Info]
                li.item #[a(href= "/Contacts") Contacts]

        block content    
        footer#footer
            |  copyright content @ritikkumar2020 | Ritik kumar. All rights reserved.
        
