extends base.pug

block scripts
    script(src= '/static/index.js')

block style
    style
        include ../static/style.css
        include ../static/styleContacts.css
block content
    div.container
        h3 This is the Contacts page of our website.
        form(action="/Contacts" method="post",  class="form-inline")
            div.box
                
                h3 Login
                input(type="email"  id="email" placeholder="Enter Your Email")
               
                input(type="password" id="password" placeholder="Enter Your Password")
                button(type="submit" id="btn" placeholder="Submit")
                    |Submit