doctype html
html
    head
        title
            | Ritik's website
        style
            include ../static/style.css
    body
    
        section#introSection
           

            div.item Welcome to the ultimate karate Academy
            div.item Here is the key to success
           

        section#missionSection
            h2 Our mission
            div.card
                h3 Learn dance.
                div.card-box
                    div.card-img
                        img(src="/static/bg1.png", alt="")
                    div.card-content
                        p   This is the best karate  academy of the whole world. where you get to learn things on your own.

            div.card
                h3 Eat dance.
                div.card-box
                    div.card-img
                        img(src="/static/bg2.png", alt="")
                    div.card-content
                        p   This is the best karate  academy of the whole world.where you get to run things on your own. 

                
            div.card
                h3  Repeat dance.
                div.card-box
                    div.card-img
                        img(src="/static/bg4.png", alt="")
                    div.card-content
                        p   This is the best karate  academy of the whole world. where you get to learn and run things on your own.

                
               
                
        section#sponsorSection

            h2  Sponsors
            div#sponsor
                
                img(src="/static/bg5.png", alt="sponsor image" , class= "spImage")
                
                img(src="/static/bg6.png", alt="sponsor image" , class= "spImage")
                img(src="/static/bg7.png", alt="sponsor image" , class= "spImage")
                
                img(src="/static/bg8.png", alt="sponsor image" , class= "spImage")
             

     

        script
            include ../static/index.js
            

