extends base.pug

block scripts
    script(src= '/static/index.js')

block style
    style
        include ../static/style.css
        include ../static/styleServices.css

block content
    div.container
        h3  This is the Services page of our website.

        div.section1 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quos sint ex laboriosam atque necessitatibus ducimus! Iste fugiat iure repudiandae cum modi a repellendus consequatur tempora, nostrum quia ullam perspiciatis sunt quos nihil quam! Voluptatem laudantium unde sapiente atque doloremque tempore impedit illo in dicta vero at facilis animi amet distinctio, aliquam corrupti officia accusamus voluptas praesentium nihil! Libero aliquam consectetur perferendis? Dicta alias suscipit, cupiditate consequatur iusto voluptas soluta quis sed beatae eveniet ipsum itaque provident rerum nemo tenetur nam ducimus nesciunt! Commodi delectus qui earum, optio perspiciatis consequuntur. Amet, maxime eligendi a animi repellendus quia sunt tenetur dolores, sit architecto odio quo! Nulla fugit, ipsa tenetur sapiente, consequuntur architecto possimus pariatur repellat aperiam aspernatur quia quo id nostrum tempore eius fuga eaque eum et. Deleniti, aliquam rem assumenda fugit nobis non placeat magni ducimus facere quaerat ullam temporibus iste vero repudiandae, ab autem esse. Amet eligendi quod, culpa facilis esse excepturi maxime nostrum nesciunt eum et autem veritatis? Accusantium magnam velit omnis? Ipsa vero eligendi commodi iusto voluptatem voluptates reprehenderit fugit. Dignissimos magnam alias suscipit repellat rem, explicabo facilis similique, nobis, quod quae reiciendis ipsam. Officia, similique aperiam ea fuga reiciendis sapiente dignissimos vitae minima quibusdam rem ipsam.
            
        div.section2 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa amet tenetur provident illo earum tempore perferendis quis, aspernatur similique, commodi ex esse! Odit cupiditate ab architecto eius a? Cumque et dolores exercitationem ex. Et omnis repellat nam repellendus eius! Magni ab provident dignissimos, tempora commodi dolorum earum aperiam rerum itaque nobis eveniet, exercitationem obcaecati necessitatibus ut sequi distinctio neque, tempore doloribus vero odit. Deleniti provident nemo nam repudiandae aut nihil dolore dolor autem accusamus incidunt officia odio, beatae eos aperiam praesentium id quos voluptates blanditiis quisquam. Voluptate, quibusdam facere. Quae, fugiat maxime eveniet commodi beatae hic illum unde voluptatem reiciendis quam voluptatibus provident laudantium fugit ratione tempora natus dolor nulla, pariatur fuga vel eos dolorem nesciunt? Earum recusandae cumque beatae harum blanditiis ducimus dolore odio porro perferendis. Eum voluptatibus facilis iste, ut nemo porro excepturi ea dolorum amet fugiat voluptate distinctio dolorem, quibusdam maxime. Voluptatum a quis, optio corrupti provident deleniti repellendus quo, quod rerum aliquid ea animi! Mollitia tempore tenetur quo odio quibusdam sapiente vel officiis commodi temporibus laborum, eum expedita eos laudantium eligendi doloremque accusantiu
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quisquam omnis deserunt sunt, qui, iure vitae temporibus sed odio vel ipsa facere quo, repudiandae quae tempora. A, obcaecati voluptate. Iste atque quo velit natus dolores ipsam itaque, quas enim doloremque ratione sed beatae tempora nihil alias temporibus explicabo minus facilis suscipit similique aspernatur? Qui esse quia maiores voluptates ab iure voluptatibus dolorum explicabo animi, vero accusamus odit voluptatem, delectus fugit nisi voluptate obcaecati. At quaerat tenetur ut labore ad incidunt repellendus corrupti perferendis, vitae similique soluta, ipsa excepturi, officia sint consequatur voluptatum deleniti dicta. Mollitia rem cumque a quas sint, illo quae. Cum quas qui labore tempora sunt ullam corporis eius a. Eaque voluptatem cumque unde itaque laborum cum libero officiis voluptate fuga, aliquam repellat, natus illum modi numquam aut assumenda vero ad, quo hic doloribus facilis quia. Et nisi vero minus odit ad perspiciatis vitae veritatis architecto, sequi ducimus saepe ipsa ea cupiditate dolorem deleniti! Aperiam illo eaque expedita repellendus recusandae similique quia a modi rem, inventore quam, ratione quae. Ipsa sint, a


